<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HexaGone</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/home/index.css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:300i&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body onscroll="checkScroll()">
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark" id="hello">
            @RenderSection("navbar", required:true)
        </nav>
        <img src="~/images/bg.jpg" id="background_image">
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div>
        <button onclick="showToTop()" id="toTopButton" title="Go to top">^</button>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - HexaGone - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/home/index.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

