@model HexaGone.Models.Hexmap
@{
    Layout = "_GameLayout";
}
<img id="tilesheet" src="~/images/tilesheet.png" hidden/>
<canvas id="hexmap"></canvas>
<label id="test1" style="position:absolute; top:0px; left:500px"></label>
<label id="test2" style="position:absolute; top:15px; left:500px"></label>
<label id="test3" style="position:absolute; top:45px; left:500px"></label>
<label id="test4" style="position:absolute; top:60px; left:500px"></label>

@section Scripts{
    <script>
        var canvas;
        var hexmapStyle;
        
        var hexHeight,
            hexRadius,
            hexRadius_s,
            hexRectangleHeight,
            hexRectangleHeight_s,
            hexRectangleWidth,
            hexagonAngle,
            sideLength,
            boardWidth,
            boardHeight;
        var offDirections;
        var textures;
        var img;


        function gameVariables() {
            @if(Model.isPointy)
            {
                <text>hexmapStyle = "pointy";</text>
            }
            else
            {
                <text>hexmapStyle = "flat";</text>
            }

            img = document.getElementById("tilesheet");
        }

        function gameVariables_f() {
            canvas = document.getElementById('hexmap');
            canvas.width = window.innerWidth;
            canvas.height = window.innerHeight;

            //This is confusing because everyone knows that a hexagon has an inner angle of 120° at each corner.
            hexagonAngle = 0.523598776; // 30 degrees in radians
            sideLength = @Model.hexSideLength;
            boardWidth = @Model.width;
            boardHeight = @Model.height;

            offDirections = [
                [[+1, 0], [+1, -1], [0, -1],
                [-1, -1], [-1, 0], [0, +1]],
                [[+1, +1], [+1, 0], [0, -1],
                [-1, 0], [-1, +1], [0, +1]],
            ];

            /*
             * From Wikipedia can be deduced that:
             * 
             * [I changed the order of the variable-names because i think that it fits better like this]
             * 
             * (the outer-circle-radius) hexRadius = sideLength;
             * (the inner-circle-radius) hexHeight = sqrt(3) / 2.0 * sideLength;
             * (the inner angle) hexagonAngle = 120° or 2.094395
             * (the height of the hexagon) hexRectangleHeight = 2 * hexHeight;
             * 
             * Source (German): https://de.wikipedia.org/wiki/Sechseck;
             * Source (English): https://en.wikipedia.org/wiki/Hexagon;
             */

            /*
             * I am sorry but where the fuck to these calculations come from?!
             * In my opinion they are utterly confusing and inadequate!
             * Please refer to the wikipedia articles that i have included for a
             * reference as to why i think that these formulas are sh**t.
             * 
             * ~Avolord
             */

            hexHeight = Math.sin(hexagonAngle) * sideLength; // this is equal to (sideLength / 2) [sin(30°) = 0.5]
            hexRadius = Math.cos(hexagonAngle) * sideLength * 14.0 / 15.0;
            hexRadius_s = Math.cos(hexagonAngle) * sideLength;
            hexRectangleWidth = sideLength + 2 * hexHeight; //wtf this is should literally just be (2 * sideLength)
            hexRectangleHeight = 2 * hexRadius;
            hexRectangleHeight_s = 2 * hexRadius_s;

            textures = [];

            for (var i = 0; i < boardWidth; i++) {
                textures[i] = [];
            }

            @for(int i = 0; i < Model.width; i++)
            {
                for(int j = 0; j < Model.height; j++)
                {
                    <text>textures[@i][@j] = @Model.texture_index[i][j];</text>
                }
            }
        }
    </script>
}