@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mid-screen">
    <input class="login-btn" type="button" id="btnLogin" value="Login"/>
</div>

@section Scripts {
    <script>
        console.log(1);
    </script>
}