@{
    ViewData["Title"] = "Home Page";
}
@section Style{ 
    <style>
        .mid-screen{
            position: absolute;
            top:50%;
            left:50%;

        }
    </style>
}


<div class="text-center mid-screen">
    <input type="button" id="btnLogin" value="Login"/>

</div>
