body {
    overflow: hidden;
}

#hexmap {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0px;
    top: 0px;
    border: 2px solid black;
}

footer {
    position: fixed;
    bottom: 0;
    top: 0px;
    bottom: 0px;
}