body {
    background-color: rgb(40,40,40);
}

.imgWithText {
    border: solid 1px white;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    float:left;
}



.divTextPic {
    background-color:white;
}
.login-btn {
    height: 50%;
    width: 20%;
    margin-top: 25%;
    margin-bottom: 30%;
    background-color: lightgray;

}

.articleWithoutPic {
    background-color: white;
    color: black;
    padding: 1em;
    text-align: justify;
    margin-bottom:5%;

}

.articleWithPic {

    padding: 3px;
    padding-right: 1em;
    padding-left: 1em;
    margin: 0px;
   
}


