body {
    background-color: rgb(40,40,40);
}

.imgWithText {
    border: solid 1px white;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    float:left;
}



.divTextPic {
    border: solid 2px white;
    margin-bottom: 5%;
    padding: 1em;
}

.divTextPic::after{
    clear:both;
}
.login-btn {
    height: 50%;
    width: 20%;
    margin-top: 25%;
    margin-bottom: 30%;
    background-color: lightgray;

}

.articleWithoutPic {
    border: solid 2px white;
    color: white;
    padding: 1em;
    text-align: justify;
    margin-bottom:5%;

}

.articleWithPic {

    color: white;
    padding: 3px;
    padding-right: 1em;
    padding-left: 1em;
    text-align:justify;
    margin: 0px;

   
}


